<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <div class="page-main">
            <header>
                <div class="header">
                    <a href="" class="header__logo"></a>
                    <ul class="header-list">
                        <li class="header-list__item"><a href="" class="header-list__link active">Home</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Service</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Extension</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Pricing</a></li>
                        <li class="header-list__item"><a href="" class="header-list__link">Help</a></li>
                    </ul>
                    <a href="" class="header__btn">sign up</a>
                </div>
            </header>
            <div class="wrap">
                <div class="block-heading">
                    <div class="block-text">
                        <h1 class="block-text__title">
                            Lorem ipsum dolor sit amet
                        </h1>
                        <p class="block-text__desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.
                        </p>
                        <div class="block-text-button">
                            <a href="" class="block-text-button__btn">Buy now</a>
                            <a href="" class="block-text-button__btn block-text-button__btn_right">Try for free</a>
                        </div>
                    </div>
                    <div class="block-heading-demo">
                        <video controls width="600" height="320" poster="../img/video-header.png" preload="none" class="block-heading-demo__video">
                            <source src="" type="video/mp4">
                            <source src="" type="video/webm">
                            <source src="/examples/media/martynko.ogv" type="video/ogg">
                          </video>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <div class="block-about">
                    <h2 class="page__title">
                        Easy & Useful
                        <span>Project Management Tool</span>
                    </h2>
                    <p class="page__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
                    </p>
                    <div class="block-list">
                        <div class="block-list-item">
                            <p class="block-list-item__icon block-list-item__icon_mauve">&#xf006;</p>
                            <h3 class="block-list-item__title">
                                Title Goes Here
                            </h3>
                            <p class="block-list-item__desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="block-list-item">
                            <p class="block-list-item__icon block-list-item__icon_blue">&#xedd2;</p>
                            <h3 class="block-list-item__title">
                                Title Goes Here
                            </h3>
                            <p class="block-list-item__desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div class="block-list-item">
                            <p class="block-list-item__icon block-list-item__icon_pink">&#xe9c2;</p>
                            <h3 class="block-list-item__title">
                                Title Goes Here
                            </h3>
                            <p class="block-list-item__desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                    </div>
                    <div class="block-about-button">
                        <a href="" class="block-about-button__btn block-text-button__btn">Get started</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
                <div class="block-counts">
                    <div class="block-counts-item block-counts-item_blue">
                        <p class="block-counts-item__icon"><span class="material-icons">business</span></p>
                        <p class="block-counts-item__desc">12000+ <span>Business</span></p>
                    </div>
                    <div class="block-counts-item block-counts-item_dark">
                        <p class="block-counts-item__icon block-counts-item__icon_dark"><span class="material-icons">get_app</span></p>
                        <p class="block-counts-item__desc">60000+ <span>Downloads</span></p>
                    </div>
                    <div class="block-counts-item block-counts-item_purple">
                        <p class="block-counts-item__icon block-counts-item__icon_purple"><span class="material-icons">person</span></p>
                        <p class="block-counts-item__desc">30000+ <span>Free Installs</span></p>
                    </div>
                    <div class="block-counts-item block-counts-item_mauve">
                        <p class="block-counts-item__icon block-counts-item__icon_mauve"><span class="material-icons">get_app</span></p>
                        <p class="block-counts-item__desc">40000+ <span>Pro Users</span></p>
                    </div>
                </div>
        </div>
        <div class="page page_padding">
            <div class="wrap">
                <div class="block-services">
                    <h2 class="page__title page__title_services">
                        Services
                    </h2>
                    <p class="page__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <div class="block-slider">
                        <div class="block-slider-row">
                            <div id="flip" class="block-slider-row-item">
                                <p class="block-slider-row-item__icon"><span class="material-icons">trending_up</span></p>
                                <span class="block-slider-row-item__text">Statistics</span>
                                <p class="block-slider-row-item__arrow"><span class="material-icons">arrow_drop_down</span></p>
                            </div>
                            <div id="panel" class="block-slider-row-screen" style="display:none;">
                                <img src="" alt="" class="block-slider-row-screen__img">
                                <p class="block-slider-row-screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</span>
                                </p>
                            </div>
                        </div>
                        <div class="block-slider-row">
                            <div id="flip1" class="block-slider-row-item">
                                <p class="block-slider-row-item__icon"><span class="material-icons">email</span></p>
                                <span class="block-slider-row-item__text">inbox</span>
                                <p class="block-slider-row-item__arrow"><span class="material-icons">arrow_drop_down</span></p>
                            </div>
                            <div id="panel1" class="block-slider-row-screen" style="display:none;">
                                <img src="" alt="" class="block-slider-row-screen__img">
                                <p class="block-slider-row-screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</span>
                                </p>
                            </div>
                        </div>
                        <div class="block-slider-row">
                            <div id="flip2" class="block-slider-row-item">
                                <p class="block-slider-row-item__icon"><span class="material-icons">group</span></p>
                                <span class="block-slider-row-item__text">team</span>
                                <p class="block-slider-row-item__arrow"><span class="material-icons">arrow_drop_down</span></p>
                            </div>
                            <div id="panel2" class="block-slider-row-screen" style="display:none;">
                                <img src="" alt="" class="block-slider-row-screen__img">
                                <p class="block-slider-row-screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</span>
                                </p>
                            </div>
                        </div>
                        <div class="block-slider-row">
                            <div id="flip3" class="block-slider-row-item">
                                <p class="block-slider-row-item__icon"><span class="material-icons">settings</span></p>
                                <span class="block-slider-row-item__text">settings</span>
                                <p class="block-slider-row-item__arrow"><span class="material-icons">arrow_drop_down</span></p>
                            </div>
                            <div id="panel3" class="block-slider-row-screen" style="display:none;">
                                <img src="" alt="" class="block-slider-row-screen__img">
                                <p class="block-slider-row-screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</span>
                                </p>
                            </div>
                        </div>
                        <div class="block-slider-row">
                            <div id="flip4" class="block-slider-row-item">
                                <p class="block-slider-row-item__icon"><span class="material-icons">rss_feed</span></p>
                                <span class="block-slider-row-item__text">feed</span>
                                <p class="block-slider-row-item__arrow"><span class="material-icons">arrow_drop_down</span></p>
                            </div>
                            <div id="panel4" class="block-slider-row-screen" style="display:none;">
                                <img src="" alt="" class="block-slider-row-screen__img">
                                <p class="block-slider-row-screen__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    <span>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-img">
            <div class="wrap">
                <div class="block-testimonials">
                    <div class="block-testimonials-text">
                        <h2 class="block-testimonials-text__title">
                            What our customers have to say about us.
                        </h2>
                        <p class="block-testimonials-text__desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                        </p>
                        <div class="block-testimonials-text-button">
                            <a href="" class="block-testimonials-text-button__btn block-text-button__btn">Get started</a>
                        </div>
                    </div>
                    <div class="block-feedback">
                        <div class="block-feedback-item">
                            <div class="block-feedback-item-ava">
                                <img src="../img/avatar-men.png" alt="" class="block-feedback-item-ava__img">
                            </div>
                            <div class="block-feedback-item-text">
                                <h3 class="block-feedback-item-text__name">
                                    John Doe
                                </h3>
                                <p class="block-feedback-item-text__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                                </p>
                            </div>
                        </div>
                        <div class="block-feedback-item">
                            <div class="block-feedback-item-ava">
                                <img src="../img/avatar-women.png" alt="" class="block-feedback-item-ava__img">
                            </div>
                            <div class="block-feedback-item-text">
                                <h3 class="block-feedback-item-text__name">
                                    Khalessi
                                </h3>
                                <p class="block-feedback-item-text__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="wrap">
                <div class="block-team">
                    <h2 class="page__title block-team__title">
                        Our Team
                    </h2>
                    <p class="page__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <div class="block-team-ava">
                        <div class="block-team-ava-item">
                            <div class="block-team-ava-item-img">
                                <img src="../img/team-1.jpg" alt="" class="block-team-ava-item-img__img">
                            </div>
                            <div class="active" style="display: none;">
                                <h3 class="block-team-ava-item__name">
                                    Lily Perpal
                                </h3>
                                <p class="block-team-ava-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                        <div class="block-team-ava-item">
                            <div class="block-team-ava-item-img">
                                <img src="../img/team-2.jpg" alt="" class="block-team-ava-item-img__img">
                            </div>
                            <div class="active">
                                <h3 class="block-team-ava-item__name">
                                    Sophie Turner
                                </h3>
                                <p class="block-team-ava-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                        <div class="block-team-ava-item">
                            <div class="block-team-ava-item-img">
                                <img src="../img/team-3.jpg" alt="" class="block-team-ava-item-img__img">
                            </div>
                            <div class="active" style="display: none;">
                                <h3 class="block-team-ava-item__name">
                                    Adam Marklen
                                </h3>
                                <p class="block-team-ava-item__text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magnaLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="block-team-social">
                        <ul class="block-team-social-list">
                            <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed7a;</a></li>
                            <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed37;</a></li>
                            <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed4d;</a></li>
                            <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed2e;</a></li>
                            <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed22;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page_gray">
            <div class="wrap">
                <div class="block-contact">
                    <h2 class="block-contact__title">
                        Contact Us
                    </h2>
                    <p class="block-contact__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                    <div class="block-contact-form">
                        <div class="block-contact-form-information">
                            <input class="block-contact-form-information__input" type="text" placeholder="First Name">
                            <input class="block-contact-form-information__input" type="text" placeholder="Last Name">
                            <input class="block-contact-form-information__input" type="email" placeholder="Email">
                            <input class="block-contact-form-information__input" type="tel" placeholder="Phone">
                            <input class="block-contact-form-information__input block-contact-form-information__message" type="text" placeholder="Message">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="block-contact-form-button">
                            <p class="block-contact-form-button__text"><input type="checkbox" name="checkbox" class="block-contact-form-button__checkbox"> Subscribe to the newsletter</p>
                            <button class="block-contact-form-button__btn">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="wrap">
                <div class="block-footer">
                    <div class="block-footer-menu">
                        <a href="" class="block-footer-menu__logo  header__logo"></a>
                        <div class="block-footer-menu-header">
                            <ul class="block-footer-menu-header-list header-list">
                                <li class="block-footer-menu-header-list__item header-list__item"><a href="" class="header-list__link">Home</a></li>
                                <li class="block-footer-menu-header-list__item header-list__item"><a href="" class="header-list__link">Service</a></li>
                                <li class="block-footer-menu-header-list__item header-list__item"><a href="" class="header-list__link">Extension</a></li>
                                <li class="block-footer-menu-header-list__item header-list__item"><a href="" class="header-list__link">Pricing</a></li>
                                <li class="block-footer-menu-header-list__item header-list__item"><a href="" class="header-list__link">Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-footer-description">
                        <div class="block-footer-description-links">
                            <ul class="block-footer-description-links-list">
                                <li class="block-description-links-list__item"><a href="" class="block-description-links-list__item_link">Privecy Policy</a></li>
                                <li class="block-description-links-list__item"><a href="" class="block-description-links-list__item_link">About Us</a></li>
                                <li class="block-description-links-list__item"><a href="" class="block-description-links-list__item_link">About Us</a></li>
                            </ul>
                        </div>
                        <div class="block-footer-description-footer">
                            <ul class="block-team-social-list">
                                <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed37;</a></li>
                                <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed7a;</a></li>
                                <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed4d;</a></li>
                                <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed2e;</a></li>
                                <li class="block-team-social-list__item"><a href="" class="block-team-social-list__item_link">&#xed22;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $(document).ready(function(){
            $("#flip").click(function(){
            $("#panel").slideToggle("slow");
            });
            });
            $(document).ready(function(){
            $("#flip1").click(function(){
            $("#panel1").slideToggle("slow");
            });
            });
            $(document).ready(function(){
            $("#flip2").click(function(){
            $("#panel2").slideToggle("slow");
            });
            });
            $(document).ready(function(){
            $("#flip3").click(function(){
            $("#panel3").slideToggle("slow");
            });
            });
            $(document).ready(function(){
            $("#flip4").click(function(){
            $("#panel4").slideToggle("slow");
            });
            });
            $(function(){
            $('.block-feedback').slick({
                vertical: true,
                verticalSwiping: true,
                slidesToShow: 2,
                prevArrow: '<img src="../img/arrow-up.svg">',
                nextArrow: '<img src="../img/arrow-down.svg">'
            });
        });
        </script>
    </body>
</html>
